/* Style général du blog */ 
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap)
body {
	color : #555;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
a{
	color: #1abc9c;
	text-decoration: wavy;
}

a:hover{
	color: #f6a623;
}

/* Style du header */ 

#header {
	background-color: rgba(145, 61, 136, 1);
	height: 150px;
	line-height: 150px;
}
#header a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#header a:hover{
	color: #222;

}

#header-title {
	display: block;
	float: left;

	font-size:20px;
	font-weight: bold;
}
#header-nav {
	display: block;
	float: right;
	margin-top: 0;
}
#header-nav li {
	display: inline;
	padding-left: 20px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}
/* Style des posts*/ 
h1, h2, h3, h4{
	color: #333;
}
p{
	line-height: 1.5;
}

.post-container:nth-child(even){
	background-color: rgba(242, 241, 239, 1);
}

.post{
	max-width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}

.post-author img{
	width: 50px;
	height: : 50px;
	vertical-align: middle;
	border-radius: 30px;
}

.post-date {
	color: #d2d2d2;
	font-size:14px;
	font-weight: bold;
	letter-spacing: 0.1em;
}
/* Style du footer */ 
#footer {
	background-color: #2f2f2f;
	padding: 50px 0;
	height:150px;
}
#footer h4 {
	color:white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#footer p {
	color:white;
}
.column {
	min-width: 300px;
	display:inline-block;
	vertical-align: top;
}
/* Style de la page about */ 
.about {
	max-width: 800px;
	margin: 0 auto;
	padding: 60px 0;
	text-align: center;
}

.about img {
	width: 90px;
	height: : 90px;
	border-radius: 30px;
}

